@model INPI.PM.Domain.UserService.Role
@{
    ViewBag.Title = "角色信息";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section head{
    <link rel="stylesheet" href="~/assets/js/select2/select2.css">
    <link rel="stylesheet" href="~/assets/js/select2/select2-bootstrap.css">
}
<div class="page-title">
    <div class="title-env">
        <h1 class="title">角色信息</h1>
    </div>
    <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1">
            <li>
                <a href="/Home"><i class="fa-home"></i>主页</a>
            </li>
            <li>
                <a href="/User/Role">角色管理</a>
            </li>
            <li>
                <a href="#">角色信息</a>
            </li>
        </ol>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">角色编辑</h3>
    </div>
    <div class="panel-body">
        <form role="form" method="post" class="validate" id="formRole">
            <div class="form-group">
                <label class="control-label">角色名称</label>
                <input type="text" value="@Model.RoleName" class="form-control" id="txtRoleName" name="roleName" data-validate="required" placeholder="请输入角色名称" />
            </div>
            <div class="form-group">
                <label class="control-label">角色描述</label>
                <input type="text" value="@Model.RoleDesc" class="form-control" id="txtRoleDesc" name="roleDesc" data-validate="required" placeholder="请输入角色描述" />
            </div>
            <div class="form-group">
                <label class="control-label">权限</label>
                <select class="form-control" id="selPermission" multiple>
                    <option></option>
                    <optgroup label="权限">
                        @foreach (INPI.PM.Domain.UserService.Permission permission in ViewBag.permissions)
                        {
                            <option value="@permission.PermissionId">@permission.PermissionName</option>
                        }
                    </optgroup>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">提交</button>
            </div>
        </form>
    </div>
</div>

<script src="~/assets/js/select2/select2.min.js"></script>
<script src="~/assets/js/jquery-validate/jquery.validate.min.js"></script>

<script type="text/javascript">
    var selPermissions;
    $(function ($) {
        selPermissions = $("#selPermission").select2({
            placeholder: '请选择权限',
            allowClear: true
        }).on('select2-open', function () {
                $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
            });
        debugger;
        if ('@Model.GUID' != "") {
            var permissions = '@(Model.Permissions == null ? "" : string.Join(",", Model.Permissions.Select(p=>p.PermissionId)))';
            selPermissions.val(permissions.split(',')).select2();
        }

        $("#formRole").submit(function () {
            event.preventDefault();
            if ($("#formRole").valid()) {
                save();
            }
        });
    });

    function save() {
        var roleName = $("#txtRoleName").val();
        var roleDesc = $("#txtRoleDesc").val();
        var permissions = selPermissions.val();
        if (permissions == null) {
            toastr.error("请选择至少一个权限");
            return false;
        }
        $.ajax({
            url: "/User/SaveRole?guid=@Model.GUID",
            data: { roleName: roleName, roleDesc: roleDesc, permissions: permissions.join() },
            type: "post",
            success: function (data) {
                if (data.result == 1) {
                    window.location.href = "/User/Role";
                } else {
                    toastr.error(data.msg);
                }
            }
        });
    }
</script>

